@import 'reset.css';

:root {
  --gradient: linear-gradient(
    90deg,
    rgba(255, 237, 0, 1) 0%,
    rgb(119, 115, 30) 100%
  );
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  overflow: hidden;
}

img {
  max-width: 100%;
}

body {
  background-color: yellowgreen;
  border: 12px solid;
  border-image: var(--gradient) 12;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Verdana;
}

/* identity */

.identity {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 6px 16px 0;
}

.identity__evolution {
  font-size: 8px;
}

.identity__name {
  font-weight: bold;
  font-size: 18px;
}

.identity__life {
  color: orangered;
  font-size: 18px;
}

/* image */

.image {
  margin: 2px 16px;
}

.image__content {
  border: 5px solid;
  border-image: var(--gradient) 5;
}

/* characteristics */

.characteristics {
  background: var(--gradient);
  font-size: 10px;
  text-align: center;
  margin: 0 25px;
  font-style: italic;
  line-height: 16px;
}

/* attacks */

.attacks {
  flex-grow: 1;
  margin: 0 15px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* attack */

.attack {
  display: flex;
  align-items: center;
}

.attack__cost {
  flex-shrink: 0;
  display: flex;
}

.attack__description {
  flex-shrink: 1;
  margin: 0 5px;
}

.attack__name {
  font-weight: bold;
}

.attack__details {
  font-size: 13px;
}

.attack__damage {
  font-size: 24px;
}

/* stats */

.stats {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid black;
  margin: 0 5px;
  padding-top: 3px;
}

/* stat */

.stat {
  text-align: center;
}

.stat__name {
  font-weight: bold;
  font-size: 10px;
}

/* infos */

.infos {
  font-size: 10px;
  margin: 2px 10px 10px;
  padding: 2px 5px;
  border: 2px solid;
  border-image: var(--gradient) 2;
  font-style: italic;
}
